/** El root sirve para poder realizar modificaciones globales del estilo de nuestra pagina**/
:root{
    font-family: 'Staatliches', cursive;
    --primario: #9c279C;
    --primarioOscuro: #891190;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #FFF;
    --negro: #000;
    --fuentePrincipal: 'Staatliches', cursive;
}

/* apply a natural box layout model to all elements, but allowing components to change 
calcula todas las cajas al tamaño deseado*/
html {
  box-sizing: border-box;
  font-size: 62.5% /*esto permite a que cada rem sea igual a 10 pixeles*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**globales**/
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
    max-width: 120rem;
    margin: 0 auto;
}

p{
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
  
}
a{
  text-decoration: none;  
}

img{
  max-width: 100%;
}

.contenedor{
  max-width: 120rem;
  margin: 0 auto;
}
h1,h2,h3{
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuentePrincipal);
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 3.2rem;
}

h3{
  font-size: 2.4rem;
}

/**header**/
.header{
  display: flex;
  justify-content: center;
}

.header__logo{
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.navegacion{
background-color: var(--primarioOscuro);
padding: 1rem 0;
display: flex;
justify-content: center;
gap: 2rem;
}

.navegacion__enlace{
  font-family: var(--fuentePrincipal);
  font-size: 3rem;
  color: var(--blanco);
}
.navegacion__enlace--activo, /*modificador*/
.navegacion__enlace:hover {
  color:var(--secundario);
}

.footer{
  background-color: var(--primarioOscuro);
  padding: 1rem;
  margin-top: 2rem;
}


.footer__texto{
  text-align: center;
  font-family: var(--fuentePrincipal);
  font-size: 2.2rem;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.producto{
  background-color: var(--primarioOscuro);
}

.producto__imagen{
padding: 1rem;
width: 100%;
}

.producto__informacion{
font-family: var(--fuentePrincipal);
}

.producto__precio{
font-size: 3rem;
}

.producto__nombre{
font-size: 4rem;
}

.producto__nombre, .producto__precio{
text-align: center;
font-family: var(--fuentePrincipal);
margin: 1rem 0;
line-height: 1.2;
}
@media(min-width: 768px){
  .grid{
grid-template-columns: repeat(3,1fr);
  }
}
@media (min-width: 768px){
.grafico--node{
  grid-row: 4 / 5;
  grid-column: 4 / 2;

}
}
.grafico{
  min-height: 30rem;  
}

.grafico--camisas{
  grid-row: 1 / 2;
  background-image: url(../img/grafico1.jpg);
}

.grafico--node{
  background-image: url(../img/grafico2.jpg);
  grid-row: 5 / 6;
}
.grafico--camisas, .grafico--node{
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
}