/** El root sirve para poder realizar modificaciones globales del estilo de nuestra pagina**/
:root{
  font-family: 'Staatliches', cursive;
  --primario: #9c279C;
  --primarioOscuro: #891190;
  --secundario: #ffce00;
  --secundarioOscuro: rgb(233,287,2);
  --blanco: #FFF;
  --negro: #000;
  --fuentePrincipal: 'Staatliches', cursive;
}

/* apply a natural box layout model to all elements, but allowing components to change 
calcula todas las cajas al tamaño deseado*/
html {
box-sizing: border-box;
font-size: 62.5% /*esto permite a que cada rem sea igual a 10 pixeles*/
}
*, *:before, *:after {
box-sizing: inherit;
}
/**globales**/
body{
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5;
  max-width: 120rem;
  margin: 0 auto;
}

p{
font-size: 1.8rem;
font-family: Arial, Helvetica, sans-serif;
color: var(--blanco);

}
a{
text-decoration: none;  
}

img{
width: 100%;
margin: 0 auto;
}

.contenedor{
max-width: 120rem;
margin: 0 auto;
}
h1,h2,h3{
text-align: center;
color: var(--secundario);
font-family: var(--fuentePrincipal);
}

h1{
font-size: 4rem;
}

h2{
font-size: 3.2rem;
}

h3{
font-size: 2.4rem;
}

/**header**/
.header{
display: flex;
justify-content: center;
}

.header__logo{
margin-bottom: 3rem;
margin-top: 3rem;
}

.navegacion{
background-color: var(--primarioOscuro);
padding: 1rem 0;
display: flex;
justify-content: center;
gap: 2rem;
}

.navegacion__enlace{
font-family: var(--fuentePrincipal);
font-size: 3rem;
color: var(--blanco);
}
.navegacion__enlace--activo, /*modificador*/
.navegacion__enlace:hover {
color:var(--secundario);
}

.footer{
background-color: var(--primarioOscuro);
padding: 1rem;
margin-top: 2rem;
}
.footer__texto{
font-family: var(--fuentePrincipal);
font-size: 2.2rem;
text-align: center;
}
.camisa{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 2rem;
}

.formulario{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 2rem;
  appearance: none;
}
.formulario__campo{
  background-color: var(--primario  );
  color: var(--blanco);
  border: 1rem solid var(--primarioOscuro);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  appearance: none;
}

.formulario__submit{
  background-color: var(--secundario);
  width: 100%;
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  padding: 2rem;
  transition: background-color .3s ease;
  border: none;
  grid-column: 1 / 3;
  
}
 .formulario__submit:hover{
  cursor: pointer;
  background-color: var(--secundarioOscuro);
 }
 @media(max-width: 768px){
  .camisa{
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 100%;
    row-gap: 2rem;
    
  }
  .formulario__campo{
    font-size: medium;
  }
  }